.app {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: stretch;
}

.app-main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: stretch;
  margin: 0 10%;
}

.app-main.calculator-page {
  flex-direction: row;
  justify-content: space-evenly;
}

.app-main.quote-page {
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 5% 20%;
}

.app-main.home-page {
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 5rem;
}

.app-header {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: stretch;
  justify-content: space-between;
  margin: 0 15%;
}

.app-header nav {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
}

.app-header nav .nav-link {
  display: block;
  font-size: 1rem;
  margin: 1rem;
  cursor: pointer;
}

.app-header nav .nav-link.active {
  font-weight: bold;
}
